<div>
  <div>
    <p [ngStyle]="{'color': selectedColor, 'font-size': selectedFontSize + 'px', 'font-family': selectedFont}">
       test 
    </p>
  </div>

  <div class="row">

  <div class="col-4">
    <div class="form-group">
      <input type="color" id="colorPicker" [(ngModel)]="selectedColor" class="form-control">
    </div>
    </div>

    <div class="col-4">
    <div class="form-group">
      <input type="number" id="fontSize" [(ngModel)]="selectedFontSize" class="form-control">
    </div>
    </div>

    <div class="col-4">
    <div class="form-group">
      <select id="fontFamily" [(ngModel)]="selectedFont" class="form-control">
        <option value="Arial">Arial</option>
        <option value="Verdana">Verdana</option>
        <option value="Garamond">Garamond</option>        
      </select>
    </div>
  </div>

</div>
</div>
  
