

<div *ngIf="cv$| async" style="margin: auto;max-width: 60%;min-width: 500px">
  <div class="card mb-3">
    <img src="{{(cv$ | async)?.path}}" class="card-img-top" alt="Cv of {{(cv$ | async)?.name}}" height="200px" style="object-fit: contain">
    <div class="card-body">
      <h5 class="card-title">{{(cv$ | async)?.name }} {{(cv$ | async)?.firstname}}</h5>
      <h6>CIN: {{ (cv$ | async)?.cin }}</h6>
      <h6 class="card-text">Job : </h6>
      <p class="card-text">{{(cv$ | async)?.job}}</p>
      <h6 class="card-text">{{(cv$ | async)?.description}}</h6>
      <p class="card-text">Followers : {{(cv$| async)?.followers}}</p>
      <p class="card-text">Following : {{(cv$ | async)?.following}}</p>
      <p class="card-text">Projects : {{(cv$ | async)?.projects}}</p>
    </div>
  </div>
  <div style="display: flex;justify-content: space-evenly">
    <button *ngIf="isLoggedIn$ | async" class="btn btn-primary" (click)="embaucher()">Embaucher</button>
    <button *ngIf="isLoggedIn$ | async"class="btn btn-danger button" (click)="supprimer()">Supprimer</button>
    <button *ngIf="isLoggedIn$ | async"class="btn btn-secondary button" (click)="modifier()">Modifier</button>
  </div>
</div>
