<div class="container mt-4">
  <div class="card">
    <div id="productCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let image of product.images; let i = index" class="carousel-item {{ i === 0 ? 'active' : '' }}" style="width: 100%">
          <img [src]="image" class="d-block w-100" alt="Product Image {{ i + 1 }}" style="height: 25rem; object-fit: contain">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev" style="color: black">
        <span class="carousel-control-prev-icon"  style="color: black"></span>
        <span>Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next" style="color: black">
        <span class="carousel-control-next-icon"  style="color: black"></span>
        <span>Next</span>
      </button>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Price:</strong> ${{ product.price }}</li>
      <li class="list-group-item"><strong>Discount Percentage:</strong> {{ product.discountPercentage }}%</li>
      <li class="list-group-item"><strong>Rating:</strong> {{ product.rating }}</li>
      <li class="list-group-item"><strong>Stock:</strong> {{ product.stock }}</li>
      <li class="list-group-item"><strong>Brand:</strong> {{ product.brand }}</li>
      <li class="list-group-item"><strong>Category:</strong> {{ product.category }}</li>
    </ul>
    <div class="card-body">
      <a href="product-list" class="btn btn-primary">Return to Main list</a>
    </div>
  </div>
</div>
