<div class="card" style="width: 18rem; margin:1rem 0">
  <img src="{{product.images[0]}}" class="card-img-top" alt="image {{product.id}}" style="height: 15rem;object-fit: contain; padding: 0.2rem 0">
  <div class="card-body" style="height: 16rem">
    <h5 class="card-title" style="height: 4rem">{{ product.title }} :  {{ product.price}} TND</h5>
    <p class="card-text" style="height: 6rem">{{product.description}}</p>
    <a href="product/{{product.id}}" class="btn btn-primary">Details</a>
  </div>
</div>
